<html>
<head>
<meta charset="utf-8">
<title>Prueba de Pantalla de Servicios</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/css/mdb.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/js/mdb.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<style>
/* Required for full background image */
html, body, header, .view {
	height: 100%;
}

.rgba-gradient {
	background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7),
		rgba(72, 15, 144, 0.4) 100%);
	background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7),
		rgba(72, 15, 144, 0.4) 100%));
	background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7),
		rgba(72, 15, 144, 0.4) 100%);
}

.background-view {
	background-image:
		url('https://www.pandasecurity.com/spain/mediacenter/src/uploads/2019/07/hospital.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.llamadoPaciente {
	position: relative;
}

.llamadoPaciente .text-wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0.2em;
	padding-right: 0.05em;
	padding-bottom: 0.1em;
	overflow: hidden;
}

.llamadoPaciente .letter {
	transform-origin: 50% 100%;
	display: inline-block;
	line-height: 1em;
}
</style>
</head>

<body>
	<div class="view white-text background-view">
		<div
			class="mask rgba-gradient justify-content-center align-items-center">
			<div class="container">
				<div class="row mt-1">
					<div id="datosDisplay" class="h1-responsive font-weight-bold">
						<h1 id="nombreDisplay" class="display-3"></h1>
						<h4 id="detallesDisplay"></h4>
					</div>
				</div>
				<div class="row">
					<form id="formIniciar" class="col-md-12">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="mx-1" for="host">Host:</label> <input type="text"
										class="form-control" id="host"
										value="http://192.168.0.104:8080/saludServer">
								</div>
								<div class="form-group">
									<label class="mx-1" for="userName">User Name:</label> <input
										type="text" class="form-control" id="userName" value="1M">
								</div>
								<div class="form-group">
									<label class="mx-1" for="password">Password:</label> <input
										type="password" class="form-control" id="password"
										value="1234">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="mx-1" for="healthcenter">HealthCenter Id:</label>
									<input type="text" class="form-control" id="healthcenter"
										value="22">
								</div>
								<div class="form-group">
									<label class="mx-1" for="display">Display Id:</label> <input
										type="text" class="form-control" id="display" value="">
								</div>
								<button id="btnIniciar" type="submit"
									style="width: 200px; margin-top: 30px"
									class="btn btn-primary float-right">Iniciar</button>
							</div>
						</div>
					</form>

					<div id="divEspecialidades" class="col-md-12"></div>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript">
	var especialidades = [];
	var turnos = [];
	
	var procesarNotificacion = function(dto){
		// Reviso para ver si el turno es nuevo o actualizarlo
		var turno = null;
		turnos.forEach(function(t){
			if(t.paciente == dto.patient_name)
				turno = t;
		});
		
		var turnoNuevo = turno == null;
		if(turnoNuevo){
			turno = {};
			turnos.push(turno);
		}
		
		turno.paciente = dto.patient_name;
		turno.profesional = dto.professional_name;
		turno.especialidad = dto.speciality;
		turno.ubicacion = dto.location;
		turno.mostrar = dto.show;

		// Reviso para ver si la especialidad es nueva o actualizarla
		var especialidad = null;
		especialidades.forEach(function(e){
			if(e.nombre == turno.especialidad)
				especialidad = e;
		});
		
		var especialidadNueva = especialidad == null;
		if(especialidadNueva){
			especialidad = {};
			especialidad.profesionales = [];
			especialidades.push(especialidad);
		}

		especialidad.nombre = turno.especialidad;
		
		// Reviso para ver si el profesional es nuevo o actualizarlo
		var profesional = null;
		especialidad.profesionales.forEach(function(p){
			if(p.nombre == turno.profesional)
				profesional = p;
		});
		
		var profesionalNuevo = profesional == null;
		if(profesionalNuevo){
			profesional = {};
			especialidad.profesionales.push(profesional);
		}
		
		profesional.nombre = turno.profesional;
		
		// Si la especialidad es nueva le genero una card
		if(especialidadNueva){
			var divEspecialidades = $('#divEspecialidades');
			
			// Card
			especialidad.div = $("<div></div>");
			especialidad.div.addClass("card wow fadeInRight mb-3");
			especialidad.div.attr('id', 'divEspecialidad-' + especialidad.nombre);
			especialidad.div.attr('data-wow-delay', '0.3s');
			divEspecialidades.append(especialidad.div);

			// Card Header
			var divCardHeader = $("<div></div>");
			divCardHeader.addClass("card-header bg-primary py-1");
			especialidad.div.append(divCardHeader);

			var h2CardTitle = $("<h4></h4>");
			h2CardTitle.addClass("card-title mb-0");
			h2CardTitle.text(especialidad.nombre);
			divCardHeader.append(h2CardTitle);

			// Card Body
			var divCardBody = $("<div></div>");
			divCardBody.addClass("card-body py-2");
			especialidad.div.append(divCardBody);
			
			especialidad.row = $("<div></div>");
			especialidad.row.addClass("row");
			especialidad.row.attr('id', 'rowEspecialidad-' + especialidad.nombre);
			divCardBody.append(especialidad.row);
		}
		
		// Si el profesional es nuevo le genero una columna
		if(profesionalNuevo){
			profesional.col = $("<div></div>");
			profesional.col.addClass("col-md-4");
			profesional.col.attr('id', 'colProfesional-' + profesional.nombre);
			especialidad.row.append(profesional.col);
			
			var divProf = $("<h6></h6>");
			divProf.addClass("mb-2 text-dark");
			divProf.text(turno.profesional);
			profesional.col.append(divProf);
			
			var divUbi = $("<h6></h6>");
			divUbi.addClass("mb-2 text-muted");
			divUbi.text(turno.ubicacion);
			profesional.col.append(divUbi);
			
			profesional.col.divPaciente = $("<h3></h3>");
			profesional.col.divPaciente.addClass("text-danger " + 
					'divPaciente-' + turno.profesional.replace(" ", "_"));
			profesional.col.append(profesional.col.divPaciente);
		}
		
		if(turno.mostrar){
			profesional.col.divPaciente.show();
			profesional.col.divPaciente.empty();	

			var spanTextWrapper = $("<span></span>");
			spanTextWrapper.addClass("text-wrapper");
			profesional.col.divPaciente.append(spanTextWrapper);
			
			var spanLetters = $("<span></span>");
			spanLetters.addClass("letters");
			spanTextWrapper.append(spanLetters);
			
			profesional.col.divPaciente.text(turno.paciente);		
			
			// Wrap every letter in a span
			var textWrapper = profesional.col.divPaciente[0];
			textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
				
			profesional.col.divPaciente.animacion = anime.timeline({loop: true})
			  .add({
			    targets: '.divPaciente-' + turno.profesional.replace(" ", "_") + ' .letter',
			    translateX: [40,0],
			    translateZ: 0,
			    opacity: [0,1],
			    easing: "easeOutExpo",
			    duration: 1200,
			    delay: (el, i) => 500 + 30 * i
			  }).add({
			    targets: '.divPaciente-' + turno.profesional.replace(" ", "_") + ' .letter',
			    translateX: [0,-30],
			    opacity: [1,0],
			    easing: "easeInExpo",
			    duration: 1100,
			    delay: (el, i) => 100 + 30 * i
			  });
			
		}else
			profesional.col.divPaciente.hide();
		

		if(especialidadNueva){
			new WOW().init();	
			especialidad.div.removeClass("wow");
		}
	}
	
	var token = null;
	var iniciarServicesDisplay = function(){
		$.ajax({
        	headers: { 'X-Authorization': 'Bearer ' + token },
            url: $('#host').val() + "/secure/healthCenter/" + $('#healthcenter').val() + "/servicesDisplay/"+$('#display').val(),
            type: "GET",
            processData: true,
            contentType: "application/json",
            success: function (dto) {
            	var divDatosDisplay = $('#datosDisplay');
            	
            	h1Nombre = $("<h1></h1>");
            	h1Nombre.addClass("display-3 wow fadeInLeft");
            	h1Nombre.attr('data-wow-delay', '0.3s');
            	h1Nombre.text(dto.name);
    			divDatosDisplay.append(h1Nombre);
            	
            	h3Detalles = $("<h3></h3>");
            	h3Detalles.addClass("wow fadeInLeft");
            	h3Detalles.attr('data-wow-delay', '0.3s');
            	h3Detalles.text(dto.details);
    			divDatosDisplay.append(h3Detalles);
            	
    			new WOW().init();
    			h1Nombre.removeClass("wow");
    			h3Detalles.removeClass("wow");
            },
            error: function (response) {
                alert("Status: " + response.status + " " + response.statusText);
                $('#formIniciar').show();
                $('#btnIniciar')[0].disabled = false;
            }
        });
	}
	
	var conectarse = function(){
		var socket = new SockJS($('#host').val() + '/socket');

		stompClient = Stomp.over(socket);
		stompClient.heartbeat.outgoing = 30000; // client will send heartbeats every 20000ms
		stompClient.heartbeat.incoming = 120000;

		stompClient.connect({}, function(frame){
			stompClient.subscribe('/servicesDisplay/' + $('#display').val(), procesarNotificacion)
		}, funtion(e){
			alert("Desconectado!");
		});
	}
	
	window.onload = function(){
		var formIniciar = $('#formIniciar');
		var userDto = {};
		userDto.userName = $('#userName').val();
		userDto.password = $('#password').val();
		
		formIniciar.unbind('submit').bind('submit', function () {
            $('#btnIniciar')[0].disabled = true;
            $.ajax({
            	headers: { 'Accept': 'application/json, text/plain, */*' },
                url: $('#host').val() + "/token/login/temporal",
                xhrFields: { withCredentials: true },
                type: "POST",
                data: JSON.stringify(userDto),
                processData: true,
                contentType: "application/json",
                success: function (dto) {
                    token = dto[0].authToken.token;
                    formIniciar.hide();
                    iniciarServicesDisplay();
                },
                error: function (response) {
                    alert("Status: " + response.status + " " + response.statusText);
                    $('#btnIniciar')[0].disabled = false;
                }
            });
	            
	        return false;
	    });
	}
	
</script>
</html>
